@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    letter-spacing: 0.02em;
  }
  h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05em;
  }
}